/*公共样式*/
a, body, em, h1, i, image, li, option, p, ul {
    margin: 0;
    padding: 0
}
div,p,h1,h2,h3,h4,h5,h6,ul,ol{box-sizing: border-box}
img {
    vertical-align: top;
    border: 0
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style-type: none
}

a {
    text-decoration: none !important;
    cursor: pointer;
    color: black
}

a:link {
    color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    color: #333;
}

a:active {
    color: #333;
}

.clearfix {
    clear: both
}

.clearfix:before, .clearfix:after {
    content: "";
    display: block
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}